<div class="container">
  <div class="vbox">
    <div class="hbox quarter">
      <h3><%= title %></h3>
    </div>
    <div class="hbox expand">
      <div class="vbox card">
        <div class="hbox quarter">
          <img src="<%= image1 %>">
        </div>
        <div class="hbox half">
          <h5><%= title1 %></h5>
          <p><%= content1 %></p>
        </div>
      </div>
      <div class="vbox card">
        <div class="hbox quarter">
          <img src="<%= image2 %>">
        </div>
        <div class="hbox half">
          <h5><%= title2 %></h5>
          <p><%= content2 %></p>
        </div>
      </div>
      <div class="vbox card">
        <div class="hbox quarter">
          <img src="<%= image3 %>">
        </div>
        <div class="hbox half">
          <h5><%= title3 %></h5>
          <p><%= content3 %></p>
        </div>
      </div>
    </div>
  </div>
</div>

