<div class="container">
  <div class="vbox">
    <div class="hbox">
      <div class="carousel">
        <ul>
          <li class="carousel-item">
            <img src="<%= image1 %>">
          </li>
          <li class="carousel-item">
            <img src="<%= image2 %>">
          </li>
          <li class="carousel-item">
            <img src="<%= image3 %>">
          </li>
        </ul>
        <ol>
          <li><label><input type="radio" name="layout7-carousel" class="carousel-indicator"></label></li>
          <li><label><input type="radio" name="layout7-carousel" class="carousel-indicator"></label></li>
          <li><label><input type="radio" name="layout7-carousel" class="carousel-indicator"></label></li>
        </ol>
        <button type="button" class="carousel-prev">
          <span class="sr-only">prev</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 13 22">
            <path fill="none" fill-rule="nonzero" stroke="#FFF" stroke-linecap="round" stroke-width="2"
                  d="M12 1L2 11l10 10"/>
          </svg>
        </button>
        <button type="button" class="carousel-next">
          <span class="sr-only">next</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 13 22">
            <path fill="none" fill-rule="nonzero" stroke="#FFF" stroke-linecap="round" stroke-width="2"
                  d="M1 1l10 10L1 21"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="vbox">
    <div class="hbox half">
      <img src="<%= image4 %>">
    </div>
    <div class="hbox half">
      <img src="<%= image5 %>">
    </div>
  </div>
</div>
