<div class="container-fluid">
    <div class="vbox">
      <div class="hbox">
        <img src="<%= image1 %>">
      </div>
      <div class="hbox">
        <h3><%= title1 %></h3>
        <p><%= content1 %></p>
      </div>
    </div>
    <div class="vbox">
      <div class="hbox">
        <h3><%= title2 %></h3>
        <p><%= content2 %></p>
      </div>
      <div class="hbox">
        <img src="<%= image2 %>">
      </div>
    </div>
</div>
