<div class="container">
  <% if (sectionTitle) { %>
    <div class="vbox">
      <h6><%= sectionTitle %></h6>
    </div>
  <% } %>
  <div class="vbox">
    <div class="hbox">
      <img src="<%= image1 %>">
    </div>
    <div class="hbox quarter">
      <h5><%= title1 %></h5>
      <p><%= content1 %></p>
    </div>
  </div>
  <div class="vbox">
    <div class="hbox">
      <img src="<%= image2 %>">
    </div>
    <div class="hbox quarter">
      <h5><%= title2 %></h5>
      <p><%= content2 %></p>
    </div>
  </div>
</div>
