<div class="container">
  <div class="vbox">
    <div class="hbox">
      <img src="<%= image1 %>">
    </div>
    <div class="hbox">
      <h3><%= title1 %></h3>
      <p><%= content1 %></p>
    </div>
  </div>
  <div class="vbox">
    <div class="hbox">
      <img src="<%= image2 %>">
    </div>
    <div class="hbox">
      <h3><%= title2 %></h3>
      <p><%= content2 %></p>
    </div>
  </div>
  <div class="vbox">
    <div class="hbox">
      <img src="<%= image3 %>">
    </div>
    <div class="hbox">
      <h3><%= title3 %></h3>
      <p><%= content3 %></p>
    </div>
  </div>
  <div class="vbox">
    <div class="hbox">
      <img src="<%= image4 %>">
    </div>
    <div class="hbox">
      <h3><%= title4 %></h3>
      <p><%= content4 %></p>
    </div>
  </div>
</div>
