<div class="container">
  <% if (sectionTitle) { %>
  <div class="vbox">
    <h6><%= sectionTitle %></h6>
  </div>
  <% } %>
  <header class="vbox">
    <div class="hbox half">
      <h5><%= title %></h5>
      <p><%= content %></p>
    </div>
  </header>
  <div class="vbox card-list">
    <div class="hbox quarter card">
      <img src="<%= image1 %>">
      <h5><%= title1 %></h5>
      <p><%= content1 %></p>
    </div>
    <div class="hbox quarter card">
      <img src="<%= image2 %>">
      <h5><%= title2 %></h5>
      <p><%= content2 %></p>
    </div>
    <div class="hbox quarter card">
      <img src="<%= image3 %>">
      <h5><%= title3 %></h5>
      <p><%= content3 %></p>
    </div>
    <div class="hbox quarter card">
      <img src="<%= image4 %>">
      <h5><%= title4 %></h5>
      <p><%= content4 %></p>
    </div>
  </div>
</div>
