<div class="container">
  <% if (sectionTitle) { %>
    <div class="vbox">
      <h6><%= sectionTitle %></h6>
    </div>
  <% } %>
  <table>
    <tbody>
    <% if (class1) { %>
    <tr>
      <td>
        <h5><%= class1 %></h5>
        <p><%= date1 %></p>
      </td>
      <td>
        <h3><%= title1 %></h3>
      </td>
      <td class="collapse-container">
        <% if (content1) { %>
          <%= $markdown(content1) %>
        <% } %>
        <% if (more1) { %>
          <div class="more">
            <%= $markdown(more1) %>
          </div>
        <% } %>
        <label class="collapse" data-collapse-target=".more"><input type="checkbox"></label>
      </td>
    </tr>
    <% } %>
    <% if (class2) { %>
    <tr>
      <td>
        <h5><%= class2 %></h5>
        <p><%= date2 %></p>
      </td>
      <td>
        <h3><%= title2 %></h3>
      </td>
      <td class="collapse-container">
        <% if (content2) { %>
          <%= $markdown(content2) %>
        <% } %>
        <% if (more2) { %>
          <div class="more">
            <%= $markdown(more2) %>
          </div>
        <% } %>
        <label class="collapse" data-collapse-target=".more"><input type="checkbox"></label>
      </td>
    </tr>
    <% } %>
    <% if (class3) { %>
    <tr>
      <td>
        <h5><%= class3 %></h5>
        <p><%= date3 %></p>
      </td>
      <td>
        <h3><%= title3 %></h3>
      </td>
      <td class="collapse-container">
        <% if (content3) { %>
          <%= $markdown(content3) %>
        <% } %>
        <% if (more3) { %>
          <div class="more">
            <%= $markdown(more3) %>
          </div>
        <% } %>
        <label class="collapse" data-collapse-target=".more"><input type="checkbox"></label>
      </td>
    </tr>
    <% } %>
    <% if (class4) { %>
    <tr>
      <td>
        <h5><%= class4 %></h5>
        <p><%= date4 %></p>
      </td>
      <td>
        <h3><%= title4 %></h3>
      </td>
      <td class="collapse-container">
        <% if (content4) { %>
          <%= $markdown(content4) %>
        <% } %>
        <% if (more4) { %>
          <div class="more">
            <%= $markdown(more4) %>
          </div>
        <% } %>
        <label class="collapse" data-collapse-target=".more"><input type="checkbox"></label>
      </td>
    </tr>
    <% } %>
    <% if (class5) { %>
    <tr>
      <td>
        <h5><%= class5 %></h5>
        <p><%= date5 %></p>
      </td>
      <td>
        <h3><%= title5 %></h3>
      </td>
      <td class="collapse-container">
        <% if (content5) { %>
          <%= $markdown(content5) %>
        <% } %>
        <% if (more5) { %>
          <div class="more">
            <%= $markdown(more5) %>
          </div>
        <% } %>
        <label class="collapse" data-collapse-target=".more"><input type="checkbox"></label>
      </td>
    </tr>
    <% } %>
    <% if (class6) { %>
    <tr>
      <td>
        <h5><%= class6 %></h5>
        <p><%= date6 %></p>
      </td>
      <td>
        <h3><%= title6 %></h3>
      </td>
      <td class="collapse-container">
        <% if (content6) { %>
          <%= $markdown(content6) %>
        <% } %>
        <% if (more6) { %>
          <div class="more">
            <%= $markdown(more6) %>
          </div>
        <% } %>
        <label class="collapse" data-collapse-target=".more"><input type="checkbox"></label>
      </td>
    </tr>
    <% } %>
    <% if (class7) { %>
    <tr>
      <td>
        <h5><%= class7 %></h5>
        <p><%= date7 %></p>
      </td>
      <td>
        <h3><%= title7 %></h3>
      </td>
      <td class="collapse-container">
        <% if (content7) { %>
          <%= $markdown(content7) %>
        <% } %>
        <% if (more7) { %>
          <div class="more">
            <%= $markdown(more7) %>
          </div>
        <% } %>
        <label class="collapse" data-collapse-target=".more"><input type="checkbox"></label>
      </td>
    </tr>
    <% } %>
    <% if (class8) { %>
    <tr>
      <td>
        <h5><%= class8 %></h5>
        <p><%= date8 %></p>
      </td>
      <td>
        <h3><%= title8 %></h3>
      </td>
      <td class="collapse-container">
        <% if (content8) { %>
          <%= $markdown(content8) %>
        <% } %>
        <% if (more8) { %>
          <div class="more">
            <%= $markdown(more8) %>
          </div>
        <% } %>
        <label class="collapse" data-collapse-target=".more"><input type="checkbox"></label>
      </td>
    </tr>
    <% } %>
    <% if (class9) { %>
    <tr>
      <td>
        <h5><%= class9 %></h5>
        <p><%= date9 %></p>
      </td>
      <td>
        <h3><%= title9 %></h3>
      </td>
      <td class="collapse-container">
        <% if (content9) { %>
          <%= $markdown(content9) %>
        <% } %>
        <% if (more9) { %>
          <div class="more">
            <%= $markdown(more9) %>
          </div>
        <% } %>
        <label class="collapse" data-collapse-target=".more"><input type="checkbox"></label>
      </td>
    </tr>
    <% } %>
    </tbody>
  </table>
</div>
